.featured{

    height: 600px;
    display: flex;
    justify-content: center;
    background-color:#2f4454;
    color: #da7b93;
    

    .container{
        width: 1200px;
        display: flex;
        align-items: center;
    }
}